<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>chat app</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
			integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
			crossorigin="anonymous"
	/>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css" />
	<link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
	<link rel="stylesheet" href="/css/home.css" />
</head>

<body>
	<div class="container-fluid m-0 p-0">
		<div class="row m-0 p-3" id="main">
			<div class="col my-3 mx-0 p-0" id="account">
				<div class="account-header d-flex justify-content-between align-items-center p-2">
					<div class="logo">
						<a class="navbar-brand d-flex align-items-center" href="#">
							<img
									src="/images/logo.png"
									width="40"
									height="40"
									class="d-inline-block align-top"
									alt=""
							/>
							<span class="ml-2">WSChat</span>
						</a>
					</div>
					<div class="buttons">
						<button class="btn btn-primary" id="add-friend" data-toggle="modal" data-target="#add-friend-modal">
							<i class="fas fa-user-plus"></i>
						</button>
						<button
								class="btn btn-primary"
								id="create-group"
								data-toggle="modal"
								data-target="#create-group-modal"
						>
							<i class="fas fa-users"></i>
						</button>
					</div>
				</div>
				<div class="account-list list-scroll">
					<h5 class="m-0 px-3">Groups</h5>
					<div class="group-list account-list-item px-2">
						<% groups.forEach(group => { %>
						<div class="list-item group-item my-1 px-2 py-2" data-id="<%= group._id %>" data-message-id="<%= group.messageId %>">
							<div class="list-avatar">
								<img
										src="<%= group.avatar %>"
										alt=""
										width="40"
										height="40"
										class="rounded-circle"
								/>
							</div>
							<div class="list-info">
								<h5 class="m-0"><%= group.name %></h5>
								<p class="m-0"><%= group.members %> members</p>
							</div>
						</div>
						<% }) %>

					</div>
					<h5 class="m-0 px-3">Friends</h5>
					<div class="people-list account-list-item px-2">

						<% friends.forEach(friend => { %>
						<div class="list-item people-item my-1 px-2 py-2" data-id="<%= friend._id %>" data-message-id="<%= friend.messageId %>" data-account-id="<%= friend.account_id %>">
							<div class="list-avatar">
								<img
										src="<%= friend.avatar %>"
										alt=""
										width="40"
										height="40"
										class="rounded-circle"
								/>
							</div>
							<div class="list-info">
								<h5 class="m-0"><%= friend.name %></h5>
								<p class="m-0"><%= friend.username %></p>
							</div>
						</div>
						<% }) %>
					</div>
				</div>
				<div class="account-current p-2 d-flex justify-content-between align-items-center">
					<div class="current-info d-flex align-items-center" data-id="<% if(user) { %><%= user._id %><%}%>">
						<div class="current-avatar">
							<img
									src="<% if(user) { %>
										<%= user.avatar %>
										<% } else { %>/images/avatar-default.png<% } %>"
									alt=""
									width="40"
									height="40"
									class="rounded-circle"
							/>
						</div>
						<div class="current-name m-3">
							<h5 class="m-0" style="font-size: 16px">
								<% if(user) { %><%= user.name %><%}%>
							</h5>
							<p class="m-0"><% if(user) { %><%= user.username %><%}%></p>
						</div>
					</div>
					<div class="current-setting">
						<button class="btn btn-primary" id="logout">
							<i class="fas fa-sign-out-alt"></i>
						</button>
					</div>
				</div>
			</div>
			<div class="col my-3 mx-0 p-0" id="chatbox">
				<div class="default-background"></div>
				<div class="chatbox-header d-flex justify-content-between align-items-center px-2">
					<div class="current-contact list-info d-flex align-items-center">
						<div class="current-avatar">
							<img
									src="/images/avatars/ava-1.jpg"
									alt=""
									width="40"
									height="40"
									class="rounded-circle"
							/>
						</div>
						<div class="current-name">
							<h5 class="m-0"></h5>
							<p class="m-0"></p>
						</div>
					</div>
					<div class="chat-setting">
						<button class="btn btn-light chatbox-setting" id="chat-setting-btn">
							<i class="bx bx-dots-vertical-rounded"></i>
						</button>
						<div class="chat-setting-list hide">
							<a class="dropdown-item" href="#" id="add-member" data-toggle="modal" data-target="#add-member-modal">Add member</a>
							<a class="dropdown-item" href="#" id="leave-group" data-toggle="modal" data-target="#leave-group-modal">Leave group</a>
						</div>
					</div>
				</div>

				<div class="chatbox-body list-scroll d-flex flex-column p-3" style="width: 100%">
				</div>

				<div class="chatbox-inputs d-flex justify-content-between align-items-center px-2" style="gap: 1rem">
					<div class="chatbox-text" style="flex: 1">
						<textarea
								name=""
								id="chat-input"
								cols="30"
								rows="1"
								class="form-control"
								style="resize: none; max-height: 100px"
						></textarea>
					</div>
					<div class="chatbox-send">
						<button class="btn btn-primary button-send">
							<i class="fas fa-paper-plane"></i>
							Send
						</button>
					</div>
				</div>
			</div>
		</div>

		<!-- Add friend modal -->
		<div class="modal fade" id="add-friend-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<form id="addFriend">
							<div class="form-group">
								<label for="name">User name</label>
								<input type="text" class="form-control" id="name" placeholder="Enter user name">
							</div>

							<h6 class="m-0">Search result</h6>
							<div class="search-friend-result">
							</div>

							<div class="error-add-friend"></div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>

		<!-- Create group modal -->
		<div class="modal fade" id="create-group-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<form id="createNewGroup">
							<div class="form-group">
								<label for="name">Group name</label>
								<input type="text" class="form-control" id="name" placeholder="">
							</div>
							<div class="form-group hide group-member-container">
								<button  class="show-member-btn d-flex align-items-center justify-content-between">
									<span>Select members</span>
									<i class='bx bx-chevron-down'></i>
								</button>
								<div class="form-group px-3 my-3 member-list">
									<% friends.forEach(friend => { %>
									<div class="member-item form-check d-flex align-items-center px-2 py-1">
										<input class="" type="checkbox" value="<%= friend._id %>" id="<%= friend._id %>" data-account-id="<%= friend.account_id %>">
										<label class="form-check-label mx-2" for="<%= friend._id %>">
											<img src="<%= friend.avatar %>" alt="" width="24" height="24" class="rounded-circle">
											<%= friend.name %>
										</label>
									</div>
									<% }) %>

								</div>

							</div>

							<div class="error-create-group"></div>

						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary button-create-group">Save changes</button>
					</div>
				</div>
			</div>
		</div>

		<!-- Add more member modal -->
		<div class="modal fade" id="add-member-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Add member</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<form id="addMemberGroup">

							<div class="form-group">
								<h5 class="m-0">Group name</h5>
							</div>

							<div class="form-group hide group-member-container">
								<button class="show-member-btn d-flex align-items-center justify-content-between">
									<span>Select members</span>
									<i class='bx bx-chevron-down'></i>
								</button>
								<div class="form-group px-3 my-3 member-list">
									<% friends.forEach(friend => { %>
										<div class="member-item form-check d-flex align-items-center px-2 py-1">
											<input class="" type="checkbox" value="<%= friend._id %>" id="<%= friend._id %>" data-account-id="<%= friend.account_id %>">
											<label class="form-check-label mx-2" for="<%= friend._id %>">
												<img src="<%= friend.avatar %>" alt="" width="24" height="24" class="rounded-circle">
												<%= friend.name %>
											</label>
										</div>
									<% }) %>

								</div>

							</div>

							<div class="error-create-group"></div>

						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary button-add-member">Save changes</button>
					</div>
				</div>
			</div>
		</div>

		<!-- Confirm Leave group modal -->
		<div class="modal fade" id="leave-group-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content text-center">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Leave group</h5>
					</div>
					<div class="modal-body">
						<p>Are you sure you want to leave this group?</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
						<button type="button" class="btn btn-primary confirm-leave-group">Yes</button>
					</div>
				</div>
			</div>

	</div>
</body>
<script
		src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"
></script>
<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
		crossorigin="anonymous"
></script>
<script
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
		integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
		crossorigin="anonymous"
		referrerpolicy="no-referrer"
></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/home.js"></script>
</html>
